@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.containerMenu * {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.containerMenu {
    width: 85%;
    margin: 50px auto;
    text-align: center;

}

.titleMenu h2{
    font-family: 'Gloock', serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.titleMenu p{
    font-size: 14px;
    color: #333;
    width: 60%;
    margin: 0px auto 20px auto;
}

.listMenu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


.listMenu li{
    margin: 0px 15px;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    position: relative;
}

.listMenu li::after{
    content: "";
    position: absolute;
    bottom: -5px;
    width: 0%;
    background: #cab5a7;
    height: 2px;
    left: 50%;
    transition: .3s ease-in-out;
}

.listMenu li:hover::after{
    width: 100%;
    left: 0;
}

.listMenu li.active{
    color: #cab5a7;
    transition: .3s ease-in-out;
}


.contentMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.boxMenu{
    width: 32%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    animation: displayable 1s ease-in-out;
}

.boxMenu .imageMenu{
    width: 35%;
}

.imageMenu img{
    width: 100%;
}

.boxMenu .text{
    width: 60%;
    text-align: left;
}

.text h3{
    font-size: 18px;
}

.text hr{
    height: 2px;
    background-color: #0f4454;
    width: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
}


.text article{
    font-size: 12px;
}

@keyframes displayable{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (max-width: 975px) {    
    .boxMenu{
        width: 100%;
    }
}
