:root
{
    --black: #05263b;
    --light-color: #cab5a7;
    --box-shadow: 0.5rem 1.5rem rgba(0,0,0,.1);
}

*
{
    font-family: 'Bree Serif', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;

}

html
{
 font-size: 62.5%;
 /*overflow: hidden;*/
 scroll-behavior: smooth;   
}

body {
    background-color: #fcf8f5;
}

/* SLIDER START */
.home .home-slider .slide
{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: flex-start;

}

.home .home-slider .slide1
{
 background: url(/images/slider.jpg);
}

.home .home-slider .slide1
{
    background-size: cover;
    background-repeat: no-repeat;
}

.home .home-slider .slide .content
{
    text-align: left;
    padding-left: 9rem;

}
.home .home-slider .slide .content h3
{
  color: var(--light-color); 
  font-size: 3rem;
  font-weight: 300; 
}

.home .home-slider .slide .content h1
{
  color:#cab5a7 ;
  font-size: 8rem;
}

.home .home-slider .slide .content p
{
    color: #fcf8f5;
    font-size: 1.8rem;
    letter-spacing: 1px;
    padding: .5rem 0;
    line-height: 1.5;
    font-weight: 200;

}

.icon-scroll {
    background-color: #05263b;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* sldier media query */
@media (max-width: 990px)
{
    .home .home-slider .slide
    {
        justify-content: left;
    }
    .home .home-slider .slide .content
    {
        padding: 1rem;
    }
    .home .home-slider .slide .content h1
    {
        font-size: 5rem;
    }
}


/* HEADER */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #05263b;
    color: #cab5a7;
    padding-bottom: 0.5rem;
    font-size: 1.7rem;
    height: 8rem;
}

.brand-title{
    margin-right:20%;
}

.nav-branding {
    font-size: 4rem;
    margin: 1rem;
    font-family: 'Cinzel', serif;
    text-decoration: none;
    color: #cab5a7;
}
.navbar-links
{
    margin-right: 4rem;
}

.nav-br{
    text-decoration: none;
}


.navbar-links ul {
    margin:0;
    padding:0;
    display: flex;
}

.navbar-links li a {
    list-style: none;
    text-decoration: none;
    color: #fcf8f5;
    padding: 1rem;
    display: block
}

.navbar-links li:hover {
    background-color: #cab5a7;
}

.list-logins {
    margin-right:30px;
    display: flex;
}

.list-logins ul {
    display: flex;
    column-gap: 20px;
}

.buttonLogin {
    border-radius: 0.5rem;
    background-color: #0f4454;
    padding: 10px 10px;
    display:flex
}

.buttonLogin:hover {
    background-color: #cab5a7;
    color: #0f4454;
    padding: 10px 10px;
    display:flex
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar { 
    height: 3px;
    width: 100%;
    background-color: #fcf8f5;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 50px;
}

/* MOBILE 500px */
@media (max-width: 975px) {

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        width:100%;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width:100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 2rem;
        flex-direction: column;
        width:100%;
    }

    .navbar-links.active {
        display: flex;
    }

    .nav-login li a {
        width:100%;
        justify-content: space-between;
    }

    .list-logins{
        display: none;
        width: 100%;
    }

    .list-logins ul{
        width:100%;
        flex-direction: column;
    }

    .list-logins li {
        text-align: center;
    }

    .list-logins li a {
        padding: .5rem 2rem;
        flex-direction: column;
        width:100%;
    }

    .list-logins.active {
        display: flex;
    }

    .list-logins li a {
        width:100%;
        justify-content: space-between;
    }

}

/* MAIN */
.cover {
    display: flex;
    align-items: center;
}

@media (max-width: 975px) {
    .cover {
        flex-direction: column;
    }

    .online {
        flex-direction: column;
    }

    .img-contact {
        width: 55%;
        border-radius:0.7rem;
        flex-shrink: 0;
        height: 250px;
        object-fit: cover;
        object-position: bottom;
    }
}

@media (max-width: 975px) {

    .img-contact {
        padding-top: 60px;
        width: 55%;
        border-radius: 1rem;
        flex-shrink: 0;
        object-fit: cover;
        object-position: bottom;
    }

    .title-2, .text-paragraphe {
        display: flex;
        font-size: 0.86rem;
    }


}

.image-office {
    width: 60%;
    border-radius: 0.7rem;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
    margin-top: 3rem;
}

.cover-title {
  font-size: 50px;
  margin-bottom: 20px; 
}

.cover-introduction {
    margin-bottom: 30px;
    font-family: 'Gloock', serif;
}

.cover-text {
    padding-right: 100px;
    font-family: 'Gloock', serif;
    color: #0f4454;
}

.flux .container-texts {
    color: #fcf8f5;
}

.title-2 {
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 1.25;
}

.text-paragraphe {
    line-height: 1.5;
}

.button {
    text-transform: uppercase;
    color: #fcf8f5;
    border-radius: 20px;
    padding: 10px 20px;
    display: inline-block;
}

.button-orange {
    background: linear-gradient(90deg, #05263b, #cab5a7 65% 100%);
    background-size: 200% 100%;
    background-position: right;
    transition: all 0.5s;
    margin: 1.5rem;
    font-size: 1.5rem;
}

.button-orange:hover {
    background-position: left;
}


.button-black {
    background-color: black;
    transition: background-color 0.25s;
}

.button-black:hover {
    background-color: grey;
}

.icon-scroll {
    background-color: #05263b;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.programs {
    background-color: #0f4454;
    margin-top: 75px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.programs .flux {
    display: inline-block;
    gap: 1.5rem
}

.programs .container-texts {
    color: #fcf8f5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.programs .title-2 {
    width: 75%;
}

.programs .container-texts .button {
    margin-top: 50px;
}

.programs .container-texts p {
    flex-grow: 1;
}

.online {
    background: linear-gradient(180deg, #05263b 0% 50%, #05263b 50% 100%);
}

.online .online-content {
    display: flex;
    padding: 75px 50px 50px;
    background: linear-gradient(90deg, #cab5a7,#05263b);
}

.online img {
    width: 50%;
    padding-right: 50px;
}

.online .container-texts {
    width: 50%;
    color: white;
}

.online .container-texts a {
    margin-top: 50px;
}

/* Login Page */
h1 {
    margin-left: 50px;
    text-decoration: underline
}

.loginEmail {
    margin-left: 50px;
    margin-bottom: 10px;
    gap: 25px
 
}

/* MENU */

.menu-container {
    display: grid;
    align-items: center;
    justify-content: center;
}

.menu-list {
    font-size: 3rem;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
}

.container_menu {
  overflow: hidden;
}

.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;

}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}

/* ERROR SUCCESS INFO MESSAGE */

.success-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  font-weight: 300;
  font-family: 'Gloock', serif;
}

.success-msg {
  color: #270;
  background-color: #DFF2BF;
}

.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}

/* INSCRIPTION FORM */
.bg-img {
  /* The image used */
  background-image: url("/images/chef.jpg");

  /* Control the height of the image */
  min-height: 89vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.form-inline {
  display: flex;
  align-items: center;
  background-color: white;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.form-inline button:hover {
  background-color: royalblue;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 975px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
    margin: 10px;
  }
}

/* ADMIN */


#table-admin {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#table-admin td, #table-admin th a {
  border: 1px solid #ddd;
  padding: 8px;
}

#table-admin tr:nth-child(even){background-color: #f2f2f2;}

#table-admin th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

#table-admin td a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tableHour, th, td {
    padding: 1rem;
}

.footer {
    display:grid;
    justify-content:center;
    background-color: #cab5a7;
    font-size: 1.8rem;
}

.footerTitle {
    display:grid;
    justify-content:center;
}

.tableHour td {
    margin:0.2rem;
    padding:0.7rem;
}

.tableDay {
    padding: 1rem;
    margin:1 rem;
} 

/* IMAGE GALLERY - MAIN PAGE */
.container-images {
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom:1.5rem;
}

.img1 {
    opacity: 1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}



.img-overlay {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: (0,0,0,0.6);
    color: #ffffff;
    font-family: 'Cinzel', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.contain-img1:hover .img1 {
  opacity: 0.5;
}

.contain-img1:hover .middle {
  opacity: 1;
}

.hoverText {
  background-color: green;
  color: white;
  font-size: 1rem;
  padding: 1rem 1rem;
}

/*GALERY */
.our-chef
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    grid-gap: 1.5rem; 
    margin-top: 3rem;
    margin-bottom: 2rem; 
}

.our-chef .item .image img
{
    width: 100%;
}

.our-chef .item
{
    position: relative;
    z-index: 2;
    overflow: hidden;

}
.our-chef .item:before
{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    display: none;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.our-chef .item:hover.item:before
{
    display: block;
}

.our-chef .item .chef-info 
{
  position: absolute;
  top: 130%;
  left: 0; right: 0; bottom: 0;
  display: flex;
  justify-content: center;
  z-index: 10;
  text-align: center;
  transition: 1s;
}


.our-chef .item .chef-info h4 {
    font-size: 1.7rem;
    color: #fff;
    padding: .8rem 0;
    text-transform: uppercase;
}

.our-chef .item .chef-info span {
    font-size: 1.7rem;
    color: var(--light-color);
    letter-spacing: 1px;
    font-weight: 300;
}

.our-chef .item:hover .chef-info
{
    top:70%;
}

/* LOGIN PAGE */


