:root {
    --black: #05263b;
    --light-color: #cab5a7;
    --box-shadow: 0.5rem 1.5rem rgba(0,0,0,.1);
}

* {
    font-family: 'Gloock', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    transition: all .2s linear;

}

html {
 font-size: 62.5%;
 /*overflow: hidden;*/
 scroll-behavior: smooth;   
}

body {
    background-color: #fcf8f5;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

/* HEADER NAV - START */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #05263b;
    color: #cab5a7;
    padding-bottom: 0.5rem;
    font-size: 1.7rem;
    height: 8rem;
}

.brand-title {
    margin-right:20%;
}

.nav-branding {
    font-size: 3rem;
    margin: 1rem;
    font-family: 'Cinzel', serif;
    text-decoration: none;
    color: #cab5a7;
    transition: all 0.2s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-links {
    margin-right: 4rem;
}

.navbar-links ul li:nth-child(6) {
    background-color: #0f4454;
    border-radius: 2rem;
}

.navbar-links ul li:nth-child(6):hover {
    background-color:#cab5a7;
}

.navbar-links ul {
    margin:0;
    padding:0;
    display: flex;
}

.navbar-links li a {
    list-style: none;
    text-decoration: none;
    color: #fcf8f5;
    padding: 1rem;
    display: block;
    font-family: 'Gloock', serif;
}

.navbar-links li:hover {
    background-color: #cab5a7;
    transition: all 0.2s ease-out;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar { 
    height: 3px;
    width: 100%;
    background-color: #fcf8f5;
    border-radius: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 50px;
}

/* MOBILE 500px */
@media (max-width: 975px) {

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        width:100%;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width:100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 2rem;
        flex-direction: column;
        width:100%;
        opacity: 0.85;
        background-color: #05263b;
    }
    .navbar-links li a:hover {
        background-color: #cab5a7;
        color: #05263b;
    }

    .navbar-links.active {
        display: flex;
    }

    .nav-login li a {
        width:100%;
        justify-content: space-between;
    }
}

/* HEADER NAV - END */

/* COVER - START*/
.home .home-cover .cover {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: flex-start;
    background: url(/images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.home .home-cover .cover .content {
    text-align: left;
    padding-left: 9rem;
}

.home .home-cover .cover .content h3 {
  color: var(--light-color); 
  font-size: 3rem;
  font-weight: 300;
  font-family: 'Cinzel', serif; 
}

.home .home-cover .cover .content h1 {
  color:#cab5a7 ;
  font-size: 8rem;
  margin-left: 40px;
  text-decoration: underline;
  font-family: 'Gloock', serif;
}

.home .home-cover .cover .content p {
    color: #fcf8f5;
    font-size: 1.8rem;
    letter-spacing: 1px;
    padding: .5rem 0;
    line-height: 1.5;
    font-weight: 200;
}

.icon-scroll {
    background-color: #05263b;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* COVER  media query */
@media (max-width: 990px) {
    .home .home-cover .cover {
        justify-content: left;
    }

    .home .home-cover .cover .content {
        padding: 1rem;
    }
    .home .home-cover .cover .content h1 {
        font-size: 5rem;
        margin-left: 20px;
        text-decoration: underline
    }
    .home .home-cover .cover .content h3 {
        font-size: 3rem;
        margin-left: 20px;
        text-decoration: underline
    }
}

@media (max-width: 500px) {
    .home .home-cover .cover {
        justify-content: left;
        background: #05263b;
    }
    .home .home-cover .cover .content {
        padding: 1rem;
    }
    .home .home-cover .cover .content h1 {
        font-size: 3rem;
        margin-left: 20px;
        text-decoration: underline
    }

    .home .home-cover .cover .content h3 {
        font-size: 2rem;
        margin-left: 15px;
        text-decoration: underline
    }
}

/* COVER - END*/

/* GALERY - START*/
.our-chef
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    grid-gap: 1.5rem; 
    margin-top: 3rem;
    margin-bottom: 2rem; 
}

.our-chef .item .image img
{
    width: 100%;
}

.our-chef .item
{
    position: relative;
    z-index: 2;
    overflow: hidden;

}
.our-chef .item:before
{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    display: none;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.our-chef .item:hover.item:before
{
    display: block;
}

.our-chef .item .chef-info 
{
  position: absolute;
  top: 130%;
  left: 0; right: 0; bottom: 0;
  display: flex;
  justify-content: center;
  z-index: 10;
  text-align: center;
  transition: 1s;
}


.our-chef .item .chef-info h4 {
    font-size: 1.7rem;
    color: #fff;
    padding: .8rem 0;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
}

.our-chef .item .chef-info span {
    font-size: 1.7rem;
    color: var(--light-color);
    letter-spacing: 1px;
    font-weight: 300;
}

.our-chef .item:hover .chef-info
{
    top:70%;
}

.button {
    text-transform: uppercase;
    color: #fcf8f5;
    border-radius: 20px;
    padding: 10px 20px;
    display: inline-block;
}

.button-book {
    background: linear-gradient(90deg, #05263b, #cab5a7 65% 100%);
    background-size: 200% 100%;
    background-position: right;
    transition: all 0.5s;
    margin: 1.5rem;
    font-size: 1.5rem;
    font-family: 'Gloock', serif;
}

.button-book:hover {
    background-position: left;
}

/* GALERY - END*/

/* ERROR SUCCESS INFO MESSAGE */
.success-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  font-weight: 300;
  font-family: 'Gloock', serif;
}

.success-msg {
  color: #cab5a7;
  background-color: #0f4454;
  text-align: center;
  font-size: 1.3rem;
}

.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}

/* INSCRIPTION FORM - START */

.htmlSubscribe {
    font-size: 100%;
}

.bodySubsribe{
    background-color: #cab5a7;
}

.card-header{
    background-color: #05263b;
    font-family: 'Cinzel', serif;
    color: #fcf8f5;
}

.card-body{
    background-color: #fcf8f5;
    font-family: 'Gloock', serif;
}

.bttn {
    background-color: #0f4454;
    color: #fcf8f5;
    font-family: 'Cinzel', serif;
    margin-inline: 1rem;
}
@media (max-width: 500px) {
    .bttn {
        margin-inline: 0.6rem;
    }
}

.bttn:hover{
    background-color: #cab5a7;
    color:#0f4454;
  }

  /* INSCRIPTION FORM - END */

/* ADMIN - START */



/* ADMIN - END */

/*MENU - START */
.containerMenu * {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

.containerMenu {
    width: 85%;
    margin: 50px auto;
    text-align: center;

}

.containerMenu h3 {
    font-family: 'Gloock', serif;
}

.titleMenu h2{
    font-family: 'Gloock', serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.titleMenu p{
    font-size: 14px;
    color: #333;
    width: 60%;
    margin: 0px auto 20px auto;
}

.listMenu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


.listMenu li{
    margin: 0px 15px;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    position: relative;
    font-family: 'Cinzel', 'serif';
}

.listMenu li::after{
    content: "";
    position: absolute;
    bottom: -5px;
    width: 0%;
    background: #cab5a7;
    height: 2px;
    left: 50%;
    transition: .3s ease-in-out;
}

.listMenu li:hover::after{
    width: 100%;
    left: 0;
}

.listMenu li.active{
    color: #cab5a7;
    transition: .3s ease-in-out;
}


.contentMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contentMenu p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Cinzel', 'serif';
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.contentMenu article {
    font-family: 'Cinzel', 'serif';
    font-size: 1.3rem;
}

.boxMenu{
    width: 32%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    animation: displayable 1s ease-in-out;
}

.boxMenu .imageMenu{
    width: 35%;
}

.imageMenu img{
    width: 100%;
}

.boxMenu .text{
    width: 60%;
    text-align: left;
}

.text h3{
    font-size: 18px;
}

.text hr{
    height: 2px;
    background-color: #0f4454;
    width: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
}


.text article{
    font-size: 12px;
}



@keyframes displayable{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (max-width: 975px) {    
    .boxMenu{
        width: 100%;
    }

    .formula {
        width: 100%;
    }
}
@media (max-width: 500px) {  
    .listMenu {
        display: block;
        justify-content: center;
        margin-bottom: 20px;
    }


    .listMenu li{
        margin: 0px 15px;
        width: 100%;
        font-weight: 600;
        font-size: 17px;
        cursor: pointer;
        position: relative;
        font-family: 'Cinzel', 'serif';
    }
}

/*MENU - END */

/* LOGIN PAGE - START */

.htmlLogin {
    font-size: 100%;
    background-color: #cab5a7;
}

.htmlBook {
    font-size: 100%;
    background-color: #cab5a7;
}

.bodyBook {
    background-color: #cab5a7;
}

/* FOOTER - START */

.site-footer {
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0f4454;
    height: auto;
    padding-top: 40px;
    margin-top: 2rem;
    width: 100vw;
    max-width:100%;
    color: #cab5a7;
  }
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-content h3 {
    font-size: 1.9rem;
    font-weight: 500;
    line-height: 3rem;
  }
  .footer-content table {
    max-width: 50%;
    margin: 10px auto;
    line-height: 8px;
    font-size: 14px;

  }
  .footer-menu {
    margin-bottom: 20px;
    font-size: 1rem;
  }
  .footer-menu ul {
    display: flex;
    justify-content: center;
  }

  .footer-menu ul li {
    padding-right: 10px;
    display: block;
  }
  .footer-menu ul li a {
    color: #cab5a7;
    border: 1.3px solid white;
    padding: 6px 15px;
    border-radius: 50px;
    text-decoration: none;
  }

  .footer-menu ul li a:hover {
    color:#0f4454;
    background-color: #cab5a7;
  }

  .tableDay {
    display: flex;
    justify-content: start;
  }

  .footer-bottom{
    background: none;
    width: auto;
    padding: 20px;
    text-align: center;
  }

  .footer-bottom p {
    text-align: center;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }

  .tableHour, th, td {
    padding: 1rem;
}

.tableHour td {
    margin:0.2rem;
    padding:0.7rem;
}

.tableDay {
    padding: 1rem;
    margin:1 rem;
} 

  @media (max-width:500px) {
    .footer-menu ul {
      display: inline;
    }
    
    .footer-menu ul li {
      margin-bottom: 20px;
      text-align: center;
    }
  }

  /* FOOTER - END */